*{
	margin: 0;
	padding: 0;
}
/*Note: More z-index value have been visibled on the top of stack */
.father{
	
	width: 680px;
	height: 400px;
	background-color: blue;
	position: relative; /*Stick at position*/
	/*Absolute use to stand child at same position,will under control of father*/

}

.child1{
	width: 150px;
	height: 50px;
	background-color: red;
	position: absolute;
	z-index: 3;
	
}

.child2{
	width: 150px;
	height: 50px;
	background-color: pink;
	position: absolute;
	z-index: 1;
	
}

.child3{
	width: 150px;
	height: 50px;
	background-color: brown;
	position: absolute;
}

.child4{
	width: 150px;
	height: 50px;
	background-color: yellow;
	position: absolute;
	
	
}


